<div id="camel-caser" class="span-12 padding-standard fancy-checkboxes">
  <h1>Caramello Camel Caser</h1>

  <div class="span-4 margin-bottom">
      
    <div class="relative margin-bottom">
      <input
        id="stripWhiteSpace"
        type="checkbox" 
        ng-model="stripWhiteSpace"
        />
      <label for="stripWhiteSpace"></label>
      <label for="stripWhiteSpace">Strip Whitespace</label>
    </div>

    <div class="relative margin-bottom">
      <input
        id="stripSpecialCharacters"
        type="checkbox" 
        ng-model="stripSpecialCharacters"
        />
      <label for="stripSpecialCharacters"></label>
      <label for="stripSpecialCharacters">Strip Special Characters</label>
    </div>

    <div class="relative margin-bottom">
      <input
        id="stripHTML"
        type="checkbox" 
        ng-model="stripHTML"
        />
      <label for="stripHTML"></label>
      <label for="stripHTML">Strip HTML</label>
    </div>

    <div class="relative margin-bottom">
      <input
        id="returnAsObject"
        type="checkbox" 
        ng-model="returnAsObject"
        />
      <label for="returnAsObject"></label>
      <label for="returnAsObject">Return as object parameter</label>
    </div>

  </div>

  <div class="white-bg span-8 padding-standard">

    <textarea 
      ng-model="inputText"
      class="span-12 padding-standard margin-bottom">
    </textarea>
    <button 
      ng-click="startStrip()"
      class="btn-2 margin-bottom">
      Convert to camel case
    </button>
    <!-- <textarea 
      ng-if="outputText"
      ng-model="outputText"
      class="span-12 padding-standard">
    </textarea> -->
    <p 
      ng-if="outputText"
      class="span-12 padding-standard">
      {{outputText}}
    </p>

  </div>
  
  

</div>