@import '~modularscale-sass/stylesheets/modularscale';

// MODULES
@import 'modules/variables';

$ff-color-initial-state: $color-neutral-5; 
$ff-color-primary: $color-1; 
$ff-color-bg: $color-neutral-0;
@import '~fancy-forms/styles/fancy-forms/base';

// PARTIALS
@import 'partials/reset',
        'partials/buttons',
				'partials/grid',
        'partials/layout',
        'partials/font';
           
			
// VIEWS
@import '../views/camel-caser/camel-caser';




